<%- include("partials/header"); -%>

  <div class="container">
    <h1>About</h1>
    <p>I'm an outdoorsman that loves fishing, and trail-running and is a fiber of my being. I'd also don't shy away from the occasional game night with friends & family. Whether it's Catan or Mario Kart the competition is always fierce.</p>
  </div>

<%- include("partials/footer"); -%>
