
html {
  min-height: 100%;
  position: relative;
  font-size: 16px;
}

h1 {
  font-size: 4em;
}

p {
  font-size: 1.5rem;
  font-family: 'Abel', sans-serif;
}

.contacts-cont {
  margin-top: 6%;
}

.blog-posts {
   max-width: 68%;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

.contacts {
  font-size: 22px;
  line-height: 2;
}

/********** Media Queries ***********/
/************************************/

/* @media screen and (min-width: 600px) {
  p {
    font-size: 1.5em;
  }
} */

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  /* html {
    font-size: 18px;
  } */
  p {
    font-size: 2em;
  }
}
